* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-y: initial;
}

/* Section */

.gastronomy_photos {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #8d153a;
    display: flex;
    flex-wrap: wrap;
}

.gastronomy_photos img {
    width: 25%;
}